{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <header>
        <nav class="navbar" style="background-color: #e3f2fd;">
            <ul class="nav nav-justified">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a></li>
            </ul>
        </nav>
    </header>

    {% block extraheader %}
    {% endblock extraheader %}

    <main>
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </main>
    <div class="fixed-bottom">
        <footer>
            <p>&copy; 2024 Reynolds Cookbook</p>
        </footer>
    </div>

</body>
</html>