{% extends "./base.html" %}


{% block extraheader %}
<h1>Categories</h1>
    <header>
            <h2>
                <a href="{% url 'entrees' %}">Entrees</a>
            </h2>
            <h2>
                <a href="{% url 'soups_stews_chilis' %}">Soups, Stews, and Chilis</a>
            </h2>
            <h2>
                <a href="{% url 'desserts' %}">Desserts</a>
            </h2>
    </header>
{% endblock %}

{% block content %}

    <h2>Entrees</h2>

    <ul>
        {% for entree in entrees %}
            <li><a href="{% url 'recipe_detail' entree.id 'entrees' %}">{{ entree.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Desserts</h2>
    <ul>
        {% for dessert in desserts %}
            <li><a href="{% url 'recipe_detail' dessert.id 'desserts' %}">{{ dessert.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Soups, Stews, and Chilis</h2>
    <ul>
        {% for soup in soups_stews_chilis %}
            <li><a href="{% url 'recipe_detail' soup.id 'soups_stews_chilis' %}">{{ soup.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
