{% extends "./base.html" %}


{% block extraheader %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Categories</h1>
    </div>
    <div class="container-fluid">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{% url 'entrees' %}">Entrees</a>
            </li>

            <li class="list-group-item">
                <a href="{% url 'soups_stews_chilis' %}">Soups, Stews, and Chilis</a>
            </li>

            <li class="list-group-item">
                <a href="{% url 'desserts' %}">Desserts</a>
            </li>
        </ul>
    </div>
{% endblock %}
