{% extends "./base.html" %}

{% block content %}
    <h1>Soups, Stews, Chili Types</h1>
    <ul>
        {% for soup_type in soup_types %}
            <li><a href="{% url 'soups_stews_chilis' %}?filter={{ soup_type.0 }}">{{ soup_type.1 }}</a></li>
        {% endfor %}
    </ul>

    <h2>Recipes</h2>
    <ul>
        {% for soup_stew_chili in soups_stews_chilis %}
            <li><a href="{% url 'recipe_detail' soup_stew_chili.id 'soups_stews_chilis' %}">{{ soup_stew_chili.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
